body { font-family: Arial; margin: 0; background: #f5f5f5; }
header { background: #0066cc; padding: 15px; color: white; text-align: center; }
nav { display: flex; justify-content: center; gap: 20px; background: #003d80; padding: 10px; }
nav a { color: white; text-decoration: none; font-weight: bold; }
.hero { background: url('Tourism-Management.png') center/cover; height: 300px; display: flex; justify-content: center; align-items: center; color: rgb(255, 255, 255); font-size: 32px; font-weight: bold; }
.packages { padding: 30px; display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 20px; }
.card { background: white; padding: 15px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); text-align: center; }
.card img { width: 100%; border-radius: 10px; height: 150px; object-fit: cover; }
.booking-form { padding: 20px; background: white; margin: 20px; border-radius: 10px; }
.booking-form input, .booking-form select { width: 100%; padding: 10px; margin: 10px 0; border-radius: 5px; border: 1px solid #ccc; }
button { padding: 10px; width: 100%; background: #0066cc; border: none; color: white; border-radius: 5px; cursor: pointer; }
.popup-box { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; width: 300px; display: none; box-shadow: 0 0 10px rgba(0,0,0,0.3); border-radius: 10px; }
.closeBtn { float: right; cursor: pointer; color: red; }
.admin-panel { background: white; padding: 20px; margin: 20px; border-radius: 10px; }